<div class="col-md-4"></div>
<div class="col-sm-12 col-md-4">
  <div>
    <div class="form-group">
      <label for="username">Username</label> 
      <input type="username" class="form-control" id="username" name="username" required
        [(ngModel)]="username">
    </div>
  
    <div class="form-group">
      <label for="password">Password</label> 
      <input type="password" class="form-control" id="password" name="password" required
        [(ngModel)]="password">
    </div>
    
    <p *ngIf="errorMessage.length > 0" class="text-danger large-font">
      {{errorMessage}}
    </p>

    <div class="pull-right">
      <button type="submit" class="btn btn-success" (click)="onLogin()">Login</button>
    </div>
    
  </div>
</div>
<div class="col-md-4"></div>